table {
    border: 1px solid;

}


tr {
    border: 1px solid;
}

td {
    border: 1px solid;
    position: relative;
    text-align: center;
    padding: 0.5vw;
}

.cellDead{

}

.cellAlive{
    background-color: black;
}



